run = "npm run build && npm run start"
entrypoint = "server/index.js"

[deployment]
build = "npm install && npm run build"
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
